main {
  min-height: 80vh;
}

a,
.card a,
.cart-items a,
.nav-item > a,
.cart-items-container a {
  text-decoration: none;
  color: rgb(51, 51, 51);
}

a:hover,
.card a:hover,
.cart-items a:hover,
.nav-item > a:hover,
.cart-items-container a:hover {
  color: rgba(51, 51, 51, 0.5);
}

h3 {
  padding: 1rem 0;
}

.rating span {
  margin: 0.1rem;
}
